*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}


.wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  /* margin: 5px; */
}


body {
  font-family: "Poppins", "Open Sans", sans-serif;
  background-image: url("images/spgbkg.jpg");
  background-size: cover;
  background-color: #242424;
  background-attachment: fixed;
  /* margin: 50px; */
}

textarea {
  font-size: 36px;
}

.big {
  font-weight: bold;
  font-size: 62px;
  line-height: 0.95;
  margin-top: 20px;
}

.small {
  font-size: 18px;
  font-weight: 500;
}

.smaller {
  font-size: 14px;
  font-weight: 300;
  margin: 0px;
}

header {
  text-indent: 0px;
  text-align: center;
  color: hsl(208, 16%, 76%);
}


.card2 {
  background-color: hsla(203, 64%, 91%, 0.7);
  border: 10px solid rgb(182, 245, 245);
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px 40px;
}

/*  well, for the header though */
.card1 {
  background-color: hsla(202, 29%, 89%, 0.05);
  margin: 0 auto;
  max-width: 800px;
  border: 10px;
  border-style: solid;
  border-color: lavenderblush;
  padding: 1em;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #464b50;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #464b50;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: rgba(46, 46, 46, 0.9);
  border: 5px solid rgb(128, 236, 195);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-family: "Poppins", "Open Sans", sans-serif;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  /* font-size: 1.2rem; */
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #c0c7cf;
  border-radius: 25px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 480px) {
  .btn {
    font-size: 12px;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  textarea {
    font-size: 12px;
  }
  
  .big {
    font-weight: bold;
    font-size: 24px;
    line-height: 0.95;
    margin-top: 20px;
  }
  
  .small {
    font-size: 12px;
    font-weight: 500;
  }
  
  .smaller {
    font-size: 10px;
    font-weight: 300;
    margin: 0px;
  }
  
  header {
    text-indent: 0px;
    text-align: center;
    color: hsl(208, 16%, 76%);
  }
  
  
  .card2 {
    background-color: hsla(203, 64%, 91%, 0.7);
    border: 10px solid rgb(182, 245, 245);
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 12px;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px 40px;
  }
  
  /*  well, for the header though */
  .card1 {
    font-size: 8px;
  }

  #password {
    font-size: 14px;
    padding-bottom: 12px;
  }

  #gdc {
    font-size: 12px;
  }
}